venv/
.env/
.venv/
venv_ds/
.venv_ds/
venv*/
env*/


__pycache__/
*.pyc
*.pyo

*.bin
*.pt
*.ckpt
.cache/
.huggingface/

.DS_Store
Thumbs.db
.vscode/
.idea/

bleurt-20/
*.pb
variables/

# Ignore the data directory and the results directory
data/
results/
