venv/
.env/
.venv/
venv_ds/
.venv_ds/
venv*/
env*/
tf210/
*.egg-info/
*.dist-info/

__pycache__/
*.pyc
*.pyo

*.bin
*.pt
*.ckpt
.cache/
.huggingface/

.DS_Store
Thumbs.db
.vscode/
.idea/

# Models / checkpoints
bleurt-20/
bleurt/
*.pb
variables/

# Ignore the data directory and the results directory
data/
results/